/*[ COMPOSANT INTRO]*/
/* ------------------------------------------------------------ */

.intro
{
    width: 100vw;
    height: 809px;
    padding: 84px;
    margin-bottom: 152.4px;
    background-color: #F6DECF;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    @media (max-width: 992px)
    {
        height: 618px;
        padding: 10px 15px;
        margin-bottom: 106px;
        padding: 20px 30px;
    }
    
    @media (max-width: 768px)
    {
        height: 1268.4px;
        padding: 43.0px;
        margin-bottom: 67.8px;
    }


    h1
    {
        color: var(--rouge);
        text-align: center;
        font-size: 98px;
        margin-top: 6.2px;

        
        @media (max-width: 992px)
        {
            font-size: 111.8px;
        }

        @media (max-width: 768px)
        {
            font-size: 120.2px;
            margin-top: 7.2px;
        }
    }



    p 
    {
        font-size: 28px;
        text-align: center;
        margin-top: 50px;

        /* border: 2px red solid; */
        width: 1297px;

        
        @media (max-width: 992px)
        {
            margin-top: 3px;
            font-size: 31.2px;
        }

        @media (max-width: 768px)
        {
            font-size: 40.8px;
            margin-top: 18px;
        }
    }
}
