@font-face {
    font-family: 'Chillen';
    src: url('../../assets/fonts/Chillen.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ethereal';
    src: url('../../assets/fonts/EtherealDemo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}