/*[ VARIABLES DU PROJET ]*/
/* ------------------------------------------------------------ */
:root{
    /*[ COULEURS ]*/
    --blanc:#fff;
    --beige: #F6E8DF;
    --noir : #2E2E2E;
    --grisFonce: #494949;
    --rougeFonce: #CE5854;
    --rouge: #E95C54;
    

}